		ё╜ё╜ё╜[1;33mйИ╫ёмЬбГсно╥сно╥╧ФтР[0;37;0mё╜ё╜ё╜

      ║╦[1;33mйИ╫ёмЬбГсно╥[0;37;0m║╧йг╫╗а╒тз║╦╤╚╥╫╧ййб╒Р║╧MudLibио╣др╩╦ЖMUDсно╥ё╛
д©╣дйгн╙╧Ц╢Стз InterNet иомФ╣д║╒дэ╧╩╤ап╢╨╨вж╣деСсяцглА╧╘р╩╦ЖоШг╡й╠╪Д║╒
л╦лЛк╣╣ь╣д╣ь╥╫║ёнрцгпХр╙р╩лв╧ФтРю╢╠ёж╓сно╥дэ╧╩уЩЁёткпп║╒мФ╪рцгдэмФ╣ц
╦ъпк║ё╡╩т╦рБвЯйьртоб╧ФтР╣деСсягКнП╪схК╠╬сно╥ё╛п╩п╩║ё

	ппн╙					вН╣м╢╕╥ё
[1;33mр╩гпн╔╥╢╧З╪р╥╗би╥╗╧Ф╣дятпп[0m		и╬ЁЩ╣╣╟╦
[1;33mхХбНхн╨нр╩н╩нвй╕╩РмФ╪р[0m			╧ь╠у╫╩л╦ф╣╣юё╛гИ╫з╤Яасуъи╬ЁЩ╣╣╟╦
[1;33mй╧сцн╔╥╢╣гб╪лАй╬╣дцШвж[0m			нвй╕©иртр╙гСн╔╥╢уъ╦Э╩╩пуцШё╛╩Р╦дн╙║╟цШвж╢Щ╤╗║╠
					сно╥й╠╪ДЁ╛╧ЩхЩлЛ╣дмФ╪рсп╦цппн╙╣дё╛ж╠╫си╬ЁЩ╣╣╟╦
[1;33m╧╚©╙╩Рк╫об╧Юк╝(Flood)[0m			╧ь╫Ш╠уё╛яожьуъи╬╣╣
[1;33mюШсцо╣мЁЁТЁФ(bug)д╡юШ[0m			╪с╠╤©шЁЩ╥г╥╗д╡юШё╛яожьуъи╬╣╣
[1;33mоРнвй╕лАЁЖ╥г╥╗р╙гС[0m			╧ь╫Ш╠уё╛яожьуъи╬╣╣
[1;33mс╟оЛ╤Юхкнч╥╗уЩЁёсно╥[0m			╧ь╫Ш╠уё╛яожьуъи╬╣╣
[1;33mхн╨нж╖Ёжртиоппн╙╣дятпп[0m			╬╞╦Фё╛яожьуъи╬╣╣

	[1;33mртион╙р╩╟Ц╧Ф╤╗ё╛нвй╕п╜╩А╠ёаТ╤т╤ЯрБ╥╦╧Фппн╙╡их║хн╨н╢╕юМ╟Л╥╗╣дх╗юШ║ё[0;37;0m
